extends ../layout.pug

block content
  //- div(class='jumbotron mb-5')
  //-   h1(class='display-4' style='font-size: 2.5rem;') Hi Electran !
  //-   p(class='lead').
  //-     We are counting on you and the power of our amazing community to bring Electra to an even wider world.
  //-     You can easily help us achive that by translating our multiple projects in many languages.
  //-   hr(class='my-4')
  //-   p(class='lead text-right mb-0')
  //-     a(class='btn btn-success btn-lg' href='#' role='button') Start translating

  h2(class='no-select mb-3' style='font-size: 2rem;') Languages

  table(class='table mb-5 no-select' style='border-bottom: solid 1px #dee2e6;')
    thead
      th(scope='col') Name
      th(class='text-center' scope='col') Pending
      th(class='text-center' scope='col') Done
      th(scope='col')
    tbody
      each language in languages
        tr
          td #{language.name}
          td(class='text-center') #{`${language.count - language.doneCount} / ${language.count}`}
          td(class='text-center') #{`${language.doneCount} / ${language.count}`}
          td(class='text-right' style='padding: .5rem .75rem 0;')
            a(class='btn btn-primary btn-sm' href='/auth/login') Translate
        tr
          td(colspan='6' style='border-top: 0; padding-top: 0;')
            div(class='progress')
              div(
                class='progress-bar bg-success'
                role='progressbar'
                style=`width: ${100 * language.doneCount / language.count}%`
                aria-valuenow=`${100 * language.doneCount / language.count}`
                aria-valuemin='0'
                aria-valuemax='100'
              )

  h2(class='no-select mb-3' style='font-size: 2rem;') Projects

  table(class='table mb-5 no-select' style='border-bottom: solid 1px #dee2e6;')
    thead
      th(scope='col') Name
      th(class='text-center' scope='col') Pending
      th(class='text-center' scope='col') Done
      th(scope='col')
    tbody
      each project in projects
        tr
          td #{project.name}
          td(class='text-center') #{`${project.count - project.doneCount} / ${project.count}`}
          td(class='text-center') #{`${project.doneCount} / ${project.count}`}
          td(class='text-right' style='padding: .5rem .75rem 0;')
            a(class='btn btn-secondary btn-sm' href='#') Download
        tr
          td(colspan='6' style='border-top: 0; padding-top: 0;')
            div(class='progress')
              div(
                class='progress-bar bg-success'
                role='progressbar'
                style=`width: ${100 * project.doneCount / project.count}%`
                aria-valuenow=`${100 * project.doneCount / project.count}`
                aria-valuemin='0'
                aria-valuemax='100'
              )
