doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    if global.me
      meta(name='userId' content=JSON.stringify(global.me._id))
      meta(name='isManager' content=JSON.stringify(global.me.isManager))
    block meta
    title #{global.websiteName}
    link(rel='icon' href='/favicon.png')
    style
      include ../../build/app.css
  body
    block body
    block scripts
      script(src=`/js/vendors.js?v=${global.version}`)
      script(src=`/js/app.js?v=${global.version}`)
