nav(class='navbar navbar-expand-lg navbar-dark fixed-top bg-dark')
  a(class='navbar-brand' href='/')
    img(class='d-inline-block align-top' src='/img/logo.svg' width='30' height='30' alt='')
    span(class='ml-2') #{global.websiteName}

  button(
    class='navbar-toggler'
    type='button'
    data-toggle='collapse'
    data-target='#mainMenu'
    aria-controls='mainMenu'
    aria-expanded='false'
    aria-label='Toggle navigation'
  )
    span(class='navbar-toggler-icon')
  div(class='collapse navbar-collapse' id='mainMenu')
    ul(class='navbar-nav')
      if (global.me && global.me.isAdmin)
        li(class='nav-item dropdown')
          a(
            class='nav-link dropdown-toggle'
            href='#'
            id='navbarDropdownMenuLink'
            data-toggle='dropdown'
            aria-haspopup='true'
            aria-expanded='false'
          ) Administration
          div(class='dropdown-menu' aria-labelledby='navbarDropdownMenuLink')
            a(class='dropdown-item' href='/admin/country') Countries
            a(class='dropdown-item' href='/admin/user') Users

  if global.me
    a(class='btn btn-secondary btn-sm' href='/auth/logout' aria-label='Log out')
      img(class='rounded-circle navbar__picture' src=`https://www.gravatar.com/avatar/${global.me.gravatar}`)
      span Log Out
  else
    a(class='btn btn-primary btn-sm' href='/auth/login' aria-label='Log in with Google') Log In / Sign Up with Google
